
body {
  background-color: #b9e1df;
  text-align: center;
}

.active{
  color: orange;
}

.navm{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 2px;
}

.navm li{
  display: inline;
  padding: 10px;
  margin: 20px;
  
}

.navm li a{
  padding: 10px;
  text-decoration: none;
}
.container::after{
  content: "";
  display: table;
  clear: both;
}

.column{
  float: left;
  width: 33.33%;
}

img {
  width: 80%;
  height: 80%;
  border-radius:15px ;
}
button{
  background-color: #e5a939;
  color: white;
  padding: 10px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 10px;
  cursor: pointer;
  border-radius: 10px;
}

footer{
  background-color: #24c14e;
  color: white;
  text-align: center;
  padding: 10px;
}

.card{
  width: 80%;
  height: 80%;
  background-color: rgb(148, 242, 143);
  color: black;
  text-align: center;
  padding: 10px;
  margin: 20px;
  border-radius: 20px;
  border: #333  2px solid;
}
.logo{
  width: 50px;
  height: 50px;
  border-radius: 20%;
  margin-right: 10px;
}
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 200ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 5px;
  background: rgb(178, 227, 138);
  border-radius: 20px;
  border: #333  3px solid;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}
.popup img{ width: 55%;}
.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {color: #06D85F;}
.popup .content {
  max-height: 30%;
  overflow: auto;
}

@media screen and (max-width: 700px){
  .column{
    width: 90%;
  }

  .overlay .popup{
    width: 90%;
  }

  .overlay .popup img{
    width: 80%;
  }

  .button{
    width: 100%;
  }

  .card{
    margin: auto;
  }

  .navm{
    flex-direction: column;
    align-items: center;
  }

  .navm li{
    display: block;
    padding: 10px;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .column{
    width: 50%;
  }

  .overlay .popup{
    width: 50%;
  }

  .overlay .popup img{
    width: 60%;
  }

  .button{
    width: 100%;
  }
  .card{
    margin-left: auto;
    margin-right: auto;

  }
  .navm{
    flex-direction: column;
    align-items: center;
  }
  
    .navm li{
      display: block;
      padding: 10px;
    }
}
*{
  margin:0;
}

